### Read the three files into python as dataframes

In [1]:
import pandas as pd

In [2]:
base1 = pd.read_csv('/Users/laura.chavez/Documents/GitHub/lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv')

In [3]:
base2 = pd.read_csv('/Users/laura.chavez/Documents/GitHub/lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv')

In [4]:
base3 = pd.read_csv('/Users/laura.chavez/Documents/GitHub/lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv')

In [5]:
df1 =pd.DataFrame(base1)

In [6]:
df2 =pd.DataFrame(base2)

In [7]:
df3 =pd.DataFrame(base3)

### Show the DataFrame's shape

In [8]:
df1.shape

(4008, 11)

In [10]:
df2.shape

(996, 11)

In [12]:
df3.shape

(7070, 11)

### Standardize header names

In [14]:
df1.columns = df1.columns.str.lower().str.replace(' ','_')
df2.columns = df2.columns.str.lower().str.replace(' ','_')
df3.columns = df3.columns.str.lower().str.replace(' ','_')

In [15]:
pd.DataFrame(df1.columns.sort_values())

                            0
0                    customer
1     customer_lifetime_value
2                   education
3                      gender
4                      income
5        monthly_premium_auto
6   number_of_open_complaints
7                 policy_type
8                          st
9          total_claim_amount
10              vehicle_class

In [16]:
pd.DataFrame(df2.columns.sort_values())

                            0
0                    customer
1     customer_lifetime_value
2                   education
3                      gender
4                      income
5        monthly_premium_auto
6   number_of_open_complaints
7                 policy_type
8                          st
9          total_claim_amount
10              vehicle_class

In [17]:
pd.DataFrame(df3.columns.sort_values())

                            0
0                    customer
1     customer_lifetime_value
2                   education
3                      gender
4                      income
5        monthly_premium_auto
6   number_of_open_complaints
7                 policy_type
8                       state
9          total_claim_amount
10              vehicle_class

In [18]:
df3.rename(columns={'state' : 'st'}, inplace = True)

### Rearrange the columns in the dataframe as needed

In [19]:
ordenColumnas = df1.columns

In [20]:
df2new = df2[ordenColumnas]

In [21]:
df3new = df3[ordenColumnas]

### Concatenate the three dataframes

In [22]:
dfFinal = pd.concat([df1, df2new, df3new])

### Which columns are numerical?

In [23]:
dfFinal.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

Las columnas CUSTOMER LIFETIME VALUE, INCOME, MONTHLY PREMIUM AUTO, NUMBER OF OPEN COMPLAINTS y TOTAL CLAIM AMOUNT

### Which columns are categorical?

Las columnas ST, GENDER, EDUCATION, POLICY TYPE y VEHICLE CLASS.

### Understand the meaning of all columns

CUSTOMER -> Número de cliente
ST -> Estado
GENDER-> Género
EDUCATION-> Nivel de educación del cliente
CUSTOMER LIFETIME VALUE-> Nivel de valía de un cliente para la empresa
POLICY TYPE-> Tipo de uso del auto
VEHICLE CLASS-> Gama del auto
INCOME-> Nivel de ingresos del cliente
MONTHLY PREMIUM AUTO-> Prima mensual del auto
NUMBER OF OPEN COMPLAINTS-> Reclamaciones abiertas
TOTAL CLAIM AMOUNT-> Importe de las reclamaciones totales

### Perform the data cleaning operations mentioned so far in class

In [27]:
dfCorrect = dfFinal.drop(columns = ['education','number_of_open_complaints'])

In [28]:
dfCorrect.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 9137 non-null   object
 1   st                       9137 non-null   object
 2   gender                   9015 non-null   object
 3   customer_lifetime_value  9130 non-null   object
 4   income                   9137 non-null   float64
 5   monthly_premium_auto     9137 non-null   float64
 6   policy_type              9137 non-null   object
 7   vehicle_class            9137 non-null   object
 8   total_claim_amount       9137 non-null   float64
dtypes: float64(3), object(6)
memory usage: 943.3+ KB

In [32]:
dfCorrect.customer_lifetime_value.fillna(0, inplace = True)

In [37]:
dfCorrect.customer_lifetime_value = dfCorrect.customer_lifetime_value.astype('string')

In [38]:
dfCorrect.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 9137 non-null   object
 1   st                       9137 non-null   object
 2   gender                   9015 non-null   object
 3   customer_lifetime_value  12074 non-null  string
 4   income                   9137 non-null   float64
 5   monthly_premium_auto     9137 non-null   float64
 6   policy_type              9137 non-null   object
 7   vehicle_class            9137 non-null   object
 8   total_claim_amount       9137 non-null   float64
dtypes: float64(3), object(5), string(1)
memory usage: 943.3+ KB

In [40]:
dfCorrect.customer_lifetime_value = dfCorrect.customer_lifetime_value.str.replace('%','')

In [50]:
dfCorrect.customer_lifetime_value = dfCorrect.customer_lifetime_value.astype('int')

In [53]:
dfCorrect.customer_lifetime_value = dfCorrect.customer_lifetime_value.apply(lambda x: x * 100)

In [54]:
dfCorrect = dfCorrect.drop_duplicates()

In [61]:
incomeClients = dfCorrect.income <= 0

In [62]:
incomeClients.sum()

2294